.button-duoc {
  background-color: #041d52; 
  color: #ffc400;  
  --background: #041d52; 
  --ion-color-primary: #041d52; 
  border-radius: 20px;
}

.back-button {
  background-color: #041d52; 
  color: #ffc400;  
  --background: #ffc400;
  --ion-color-primary: #041d52; 
  border-radius: 20px;
}
