

ion-header {
  position: absolute;
  
}

ion-content {
  --background: var(--ion-color-light);
  
  &::part(scroll) {
    height: 100%;
  }
  ion-card {
    margin-top: 60px;
  }
}

.submit1 {
  --background: #041d52;
  --color: #ffc400;
  --border-radius: 10px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  font-weight: 600;
  margin-top: 20px;
  
  &:hover {
    --background: #062666;
  }

  &:disabled {
    --background: #041d52;
    opacity: 0.6;
  }
}
