<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingresa tu correo</ion-card-title>
        <ion-card-subtitle>¿Olvidaste tu contraseña? </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">
          <app-custom-input 
            autocomplete="email" 
            icon="mail-outline" 
            [control]="form.controls.email" 
            type="email"
            label="Correo">
          </app-custom-input>

          <ion-button expand="block" mode="ios" class="submit1" type="submit" [disabled]="form.invalid">
            Enviar correo
            <ion-icon slot="end" name="send-outline"></ion-icon>

          </ion-button>
          <ion-button expand="block" mode="ios" class="submit" routerLink="/auth" fill="clear">
            Volver
            <ion-icon slot="end" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
