
ion-header {
    --background: #041d52; 
  }
  
ion-toolbar {
    --background: #041d52;
}
  
ion-title {
    --color: #ffc400; 
}
ion-footer {
    --background: #041d52;
    --color: #ffc400;
  }
  