ion-button.volver{
    --background: #041d52;
    --background-focused: #f7fffb;
    --color: #ffc400;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --padding-top: 10px;
    --padding-bottom: 10px;
    --text-transform: none;
    --ms-text-align-last: center;
    
}
#centrar{
    text-align: center;
}